<html>
<head>
    <title>Лаборатория</title>
    <meta name="decorator" content="atl.user" />
	$webResourceManager.requireResource("ru.Makivay.AwesomePlugin:my-resources")
</head>
<body>


<div class="aui-tabs vertical-tabs" id="tabs-example1">
        <ul class="tabs-menu">
            <li class="menu-item active-tab">
                <a href="#tabs-first-task"><strong>A</strong></a>
            </li>
            <li class="menu-item">
                <a href="#tabs-second-task"><strong>B</strong></a>
            </li>
            <li class="menu-item">
                <a href="#tabs-third-task"><strong>C</strong></a>
            </li>
        </ul>
        <div class="tabs-pane active-pane" id="tabs-first-task">
            <h3>1 tab</h3>
            Some text
        </div>
        <div class="tabs-pane" id="tabs-second-task">
            <h3>Second</h3>
            <table class='restful'>
            </table>
        </div>
        <div class="tabs-pane" id="tabs-third-task">
            <h3>Third</h3>
        </div>
    </div><!-- .aui-tabs -->

</html>